@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.center {
@apply align-middle justify-center items-center content-center;
}
.justified {
@apply justify-center;
}
.aligned {
@apply align-middle items-center content-center;
}

@font-face {
  font-family: Montserrat;
  src: url(../public/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: MontserratDemi;
  src: url(../public/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: MontserratExtraBold;
  src: url(../public/fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
  font-family: MontserratBold;
  src: url(../public/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: MontesseratBoldItalic;
  src: url(../public/fonts/Montserrat-BoldItalic.ttf);
}

/* Entrée depuis la droite */
.slide-in-right {
  animation: slideInRight 3s ease forwards;
}

/* Sortie vers la gauche */
.slide-out-left {
  animation: slideOutLeft 3s ease forwards;
}

/* Entrée depuis la gauche */
.slide-in-left {
  animation: slideInLeft 3s ease forwards;
}

/* Sortie vers la droite */
.slide-out-right {
  animation: slideOutRight 3s ease forwards;
}

@keyframes slideInRight {
  0% {
    opacity: 1;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(-100%);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 1;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideOutRight {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #26232e; /* black */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #46485A; /* Indigo-600 */
  border-radius: 10px;
  
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #46485A; /* Indigo-700 */
}


.darker{
    filter: brightness(80%);
}


/* css class for Memoire44 projet */
:root{
    --DiceAnim: diceX 0.5s steps(8) infinite, diceY 2s steps(4) infinite;
    --RocketAnim: RocketX 2.5s steps(20) infinite, RocketY 12.5s steps(5) infinite ;
}

@keyframes diceX {
  from {background-position-x: 0px;}
  to {background-position-x: -1024px;}
}
@keyframes diceY {
  from {background-position-y: 0px;}
  to {background-position-y: -512px;}
}
@keyframes RocketX {
  from {background-position-x: 0px;}
  to {background-position-x: -4648px;}
}
@keyframes RocketY {
  from {background-position-y: 0px;}
  to {background-position-y: -5376px;}
}
.RocketAnim {
    height: 1075px;
    width: 232px;
    background-image: url("../public/images/Rocket.webp"); /* width: 2048px; height: 512px; */
    animation: var(--RocketAnim);
}

.DiceSoldat {
    height: 128px;
    width: 128px;
    background-image: url("../public/images/Memoire44/dice/dice_soldat_anim.webp"); /* width: 2048px; height: 512px; */
    animation: var(--DiceAnim);
}

.DiceGrenade {
    height: 128px;
    width: 128px;
    background-image: url("../public/images/Memoire44/dice/dice_grenade_anim.webp"); /* width: 2048px; height: 512px; */
    animation: var(--DiceAnim);
}
.DiceTank {
    height: 128px;
    width: 128px;
    background-image: url("../public/images/Memoire44/dice/dice_tank_anim.webp"); /* width: 2048px; height: 512px; */
    animation: var(--DiceAnim);
}
.DiceFlag {
    height: 128px;
    width: 128px;
    background-image: url("../public/images/Memoire44/dice/dice_flag_anim.webp"); /* width: 2048px; height: 512px; */
    animation: var(--DiceAnim);
 }
.DiceStar {
    height: 128px;
    width: 128px;
    background-image: url("../public/images/Memoire44/dice/dice_star_anim.webp"); /* width: 2048px; height: 512px; */
    animation: var(--DiceAnim);

}

