@import "tailwindcss";
@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: MontserratDemi;
  src: url(./assets/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: MontserratExtraBold;
  src: url(./assets/fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
  font-family: MontserratBold;
  src: url(./assets/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: MontesseratBoldItalic;
  src: url(./assets/fonts/Montserrat-BoldItalic.ttf);
}
@utility center {
  @apply justify-center items-center content-center;
}

@utility justified {
  @apply justify-center;
}

@utility aligned {
  @apply items-center content-center;
}

@layer utilities {
  .column-span-2 {
    column-span: 2;
  }
}
@theme {
  --text-xs:0.75rem;
  --text-2xs: 0.6rem;
  --text-3xs: 0.4rem;
  --font-mt: Montserrat, "sans-serif";
  --font-mt-demi: MontserratDemi, "sans-serif";
  --font-mt-bold: MontserratBold, "sans-serif";
  --font-mt-extra-bold: MontserratExtraBold, "sans-serif";
  --font-mt-bold-italic: MontesseratBoldItalic, "sans-serif";
  --color-darkBlue: #2B4999;
  --color-spaceBlue:#232A42;
  --color-delftBlue: #26345F;
  --color-steelBlue: #417FB5;
  --color-lightBlue: #56B5D1;
  --color-blackDarked: #201F25;
  --color-black: #000000;
  --color-night: #101013;
  --color-lightGray: #b8b7ab;
  --color-grayBlack: #535252;
  --color-jetGray: #3C3B41;
  --color-trueWhite: #ffffff;
  --color-white: #ebead8;
  --color-red: #BD2D2D;
  --color-lightRed: #fc0000;
  --color-green:#44bd48;
  --color-snow: #B5B2AA;
  --color-mainColor: #201F25;
  --color-secondColor: #535252;
  --color-textColor: #ffffff;
  --color-hoverColor: #56B5D1;
  
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #26232e; /* black */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #46485A; /* Indigo-600 */
  border-radius: 10px;
  
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #46485A; /* Indigo-700 */
}
